body {
    width: 100%;
    height: auto;
    background-image: url("img/backgroundimage.jpg");
    background-size: 100% auto;
}

#menu{
    background-color:aqua;
    width: 100%;
    height: 20px;
    position: fixed;
    text-align: center;
}

#main{
    width:100%;
    height: auto;
    position:fixed;
    top: 135px;
    left: 9px;
}